<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @interview.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @interview.start %>
</p>
<p>
  <strong>End:</strong>
  <%= @interview.end %>
</p>

<div>
  <strong>Participant's Email</strong>
  <% @interview.participants.each do |p| %>
  <p>
    <%= p.email %> || 
    <% curPosition = InterviewParticipant.where(interview_id: @interview.id, participant_id: p.id)%>
    <%= curPosition[0].position %>
    <%if curPosition[0].interviewee? %>
      <% if p.resume.attached? %>
        || <%= link_to 'Download', p.resume, download: '' %>
      <%else%>
        || No Resume Provided
      <%end%>
    <%end%>
  </p>
  <%end%>
</div>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>