<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @participant.email %>
</p>

<p>
  <strong>Resume:</strong>
  <% if @participant.resume.attached? %>
    <%= link_to 'Download', @participant.resume, download: '' %>
  <%else%>
    No Resume Provided
  <%end%>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>